@charset "utf-8";
/*全局样式*/

* {
    padding: 0;
    margin: 0;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}
*{margin:0;padding: 0;box-sizing: border-box;}

/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(135, 132, 132, 0.30);
    border-radius: 0px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(144, 142, 142, 0.29);
    background-color: rgb(217, 213, 213);
}
div,
dl,
dt,
dd,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
ol,
ul,
li,
table,
th,
td,
p,
span,
a {
    border: 0;
}

img,
input {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}

html {
    font-size: 37.5px;
}

ul,
ol {
    list-style-type: none;
}

.clear {
    clear: both;
    font-size: 1px;
    height: 0;
    visibility: hidden;
    line-height: 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.clearfix {
    zoom: 1;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active {
    text-decoration: underline;
    color: #f60;
}


